{% extends "base.html" %} {% block content %}
<!-- /.card-header -->
<div class="wrapper">
  {% include "topbar.html" %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="row">
      <!-- Job Information Section -->
      <div class="col-lg-12">
        <div class="card-body">
          <form method="post" action="/completed">
            <h5 class="card-title">Job Information</h5>
            <!-- Display job details here -->
            <p>Customer: {% if customer_details[0]['first_name'] == None %}   -   {% else %} {{customer_details[0].first_name}} {% endif %} , {% if customer_details[0]['family_name'] == None %}   -   {% else %} {{customer_details[0].family_name}} {% endif %}</p>
            <p>Status: In Progress</p>
            <button
              type="submit"
              class="btn btn-success"
            >
              Mark as Completed
            </button>
            <input
              type="number"
              class="form-control"
              id="job_id"
              name="job_id"
              hidden="true"
              value="{{job_id}}"
            />
          </div>
          </form>

      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header border-0 text-center">
            <h3 class="card-title">Parts</h3>
          </div>
          <div class="card-body p-0">
            <div class="table-responsive">
              {{data}}
              <table class="table m-0">
                <thead>
                  <tr>
                    <th>Job ID</th>
                    <th>Part Name</th>
                    <th>Qty</th>
                    <th>Cost</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in part_details %}
                  <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{item.part_name}}</td>
                    <td>{{item.qty}}</td>
                    <td>${{item.cost |string}}</td>
                    <td>{{item.qty * item.cost}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header border-0 text-center">
            <h3 class="card-title">Service</h3>
          </div>
          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table m-0">
                <thead>
                  <tr>
                    <th>Job ID</th>
                    <th>Service Name</th>
                    <th>Qty</th>
                    <th>Cost</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in job_details %}
                  <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{item.service_name}}</td>
                    <td>{{item.qty}}</td>
                    <td>${{item.cost |string}}</td>
                    <td>${{item.qty * item.cost}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Parts Section -->
      <div class="col-lg-6">
        <div class="card-body">
          <!-- Display existing parts and allow adding new ones -->
          <!-- Form to add parts -->
          <form method="post" action="/add_part">
            <label for="partSelect">Select Part:</label>
            <select class="form-select" id="partSelect" name="part_id">
              {% for item in job_part %}
              <option value="{{item.part_id}}">{{item.part_name}}</option>
              {% endfor %}
              <!-- Add more options as needed -->
            </select>
            <input
            type="number"
            class="form-control"
            id="job_id"
            name="job_id"
            hidden="true"

            value="{{job_id}}"
          />
            <label for="partQuantity">Quantity:</label>
            <input
              type="number"
              class="form-control"
              id="partQuantity"
              name="qty"
              min="1"
              placeholder="Enter quantity"
            />

            <button
              type="submit"
              class="btn btn-primary mt-2"
            >
              Add Part
            </button>
          </form>
        </div>
      </div>

      <!-- Services Section -->
      <div class="col-lg-6">
        <div class="card-body">
          <!-- Display existing services and allow adding new ones -->
          <!-- Form to add services -->
          <form method="post" action="/add_service">
            <label for="serviceSelect">Select Service:</label>
            <select class="form-select" id="serviceSelect" name="service_id">
              {% for item in job_service %}
              <option value="{{item.service_id}}">{{item.service_name}}</option>
              {% endfor %}
            </select>
            <label for="serviceQuantity">Quantity:</label>
            <input
              type="number"
              class="form-control"
              name="qty"
              min="1"
              id="serviceQuantity"
              placeholder="Enter quantity"
            />
            <input
            type="number"
            class="form-control"
            name="job_id"

            hidden="true"
            value="{{job_id}}"
          />
            <button
              type="submit"
              class="btn btn-primary mt-2"
            >
              Add Service
            </button>
          </form>
        </div>
      </div>
    </div>
  </main>
</div>


{% endblock %}
