{% extends "admin/admin_index.html" %} {% block content %}
<div class="content-wrapper">
  <section class="content">
    <div class="card card-warning">
      <div class="card-header">
        <h3 class="card-title">Add Service</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <form action="/add_master_service" method="post">
          <div class="row">
            <div class="col-sm-6">
              <!-- text input -->
              <div class="form-group">
                <label>Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="service_name"
                  id="service_name"
                  placeholder="Enter Service Name"
                />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Cost</label>
                <input
                  type="text"
                  id="cost"
                  name="cost"
                  class="form-control"
                  placeholder="Enter Amount"
                />
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-sm-12">
              <!-- text input -->
              <div class="form-group">
                <button type="submit" class="btn btn-block btn-success btn-xs" >
                  Submit
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- /.card-body -->
    </div>
  </section>
</div>
<!-- <script>
  function addService() {
    // Get values from the form
    var part_name = $("#service_name").val();
    var cost = $("#cost").val();
    // Create an object with the data
    var data = {
        service_name: service_name,
        cost: cost,
    };
    console.log(data)
    // Send an AJAX request to your Flask route
    jQuery.ajax({
      type: "POST",
      url: "/add_master_service", // Update with your actual route
      contentType: "application/json;charset=UTF-8",
      data: JSON.stringify(data),
      success: function (response) {
        var modal = $("#successModal");
        modal.find("#successModalLabel").text(response.data);
        modal.modal("show");
        modal.on("hidden.bs.modal", function () {
          location.reload();
        });
      },
      error: function (error) {
        console.error(error);
      },
    });
  }
</script>
<div
  class="modal fade"
  id="successModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="successModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="successModalLabel"></h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3 id="modalMessage"></h3>
        <p id="modalDetails"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div> -->
{% endblock %}
