{% extends "admin/admin_index.html" %} {% block content %}
<div class="content-wrapper">
  <div class="container mt-5">
    <h1>Unpaid Bills</h1>
    <form method="get" action="/admin/bills">
      <div class="mb-3">
        <label for="customerSelect" class="form-label">Customer List:</label>
        <select
          class="form-select"
          id="customerSelect"
          required
          name="customer"
        >
          {% for item in customer_name %}
          <option value="{{item.customer_id}}"> {% if  item['family_name'] == None %}   -   {% else %} {{item.family_name}} {% endif %} , {% if  item['first_name'] == None %}   -   {% else %} {{ item.first_name}} {% endif %}  </option>
          {% endfor %}
          <!-- Populate this dropdown with customer options -->
          <!-- Add more options as needed -->
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Select Customer</button>
    </form>
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table table-striped" id="customerTable">
          <thead>
            <tr>
              <th>Date</th>
              <th>Customer</th>
              <th>Amount</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <form action="{{ url_for('mark_paid') }}" method="post">
              {% for bill in customer_details %}
              <input type="text" value={{ bill.job_id}} name="job_id" style="display: none;" />
              <tr>
                <td>{{ bill.job_date }}</td>
                <td> {% if bill['family_name'] == None %}   -   {% else %} {{bill.family_name}} {% endif %}, {% if bill['first_name'] == None %}   -   {% else %} {{bill.first_name}} {% endif %}</td>
                <td>{{ bill.total_cost }}</td>
                <td>
                  <button
                    type="submit"
                    class="btn btn-primary"
                  >
                    Mark as Paid
                  </button>
                </td>
              </tr>
              {% endfor %}
            </form>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    var successModalValue = "{{ success_modal }}";
    if (successModalValue === "True") {
      console.log('Showing modal');
      $('#successModal').modal('show');
    }
  });
</script>
<!-- Modal for Success Message -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-success">
      <div class="modal-header">
        <h5 class="modal-title" id="successModalLabel">Mark AS Paid </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3 class="modal-title" id="successModalSubLabel"> Job paid succesfully</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
