<aside class="main-sidebar sidebar-dark-primary elevation-4 mt-5" style="top:40px">
  <!-- Brand Logo -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <!-- <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="info">
        <a href="#" class="d-block">SPB</a>
      </div>
    </div> -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item">
          <a href="{{url_for('admin_customer_list')}}" class="nav-link">
            <i class="nav-icon fa fa-th-list"></i>
            <p>
              Customer List
              
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{{url_for('admin_customer_search')}}" class="nav-link">
            <i class="nav-icon fa fa-search"></i>
            <p>
              Customer Search
              
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{{url_for('admin_add_customer')}}" class="nav-link">
            <i class="nav-icon fa fa-user-plus"></i>
            <p>
              Add Customer
              
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{{url_for('admin_add_service')}}" class="nav-link">
            <i class="nav-icon fa fa-server"></i>
            <p>
              Add Service
              
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{{url_for('admin_add_part')}}" class="nav-link">
            <i class="nav-icon fa fa-book"></i>
            <p>
              Add Part
              
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{{url_for('admin_schedule_jobs')}}" class="nav-link">
            <i class="nav-icon fa fa-archive"></i>
            <p>
              Schedule Job
              
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{{url_for('admin_bills')}}" class="nav-link">
            <i class="nav-icon fa fa-credit-card"></i>
            <p>
              UnPaid Bill
              
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{{url_for('unpaid_bills_report')}}" class="nav-link">
            <i class="nav-icon fa fa-history"></i>
            <p>
              Billing History
              
            </p>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- /.sidebar -->
</aside>
